.downlittle{
	padding-top: 7vh;
}

#myCarousel{
	height: 100vh;
}

.navbar-default{
	background-color: white;
}


.logo{
	height: 4.5vh;
	line-height: 1;
  	display: inline-block;
  	vertical-align: middle;
}

.item{
	padding-top: 10vh;
	height: 100vh;

}

.item2{
	height: 100vh;
	background-image: url(../images/background/ac-back.jpg);
	padding-left: 10vh;
	background-size: cover;
	padding-bottom: 10vh;	
}

.item3{
		height: 100vh;
	background-image: url(../images/background/ex-back.jpg);
	padding-left: 10vh;
	background-size: cover;
	color: white;
	padding-bottom: 10vh;	
}

.another{
	  border-top: 1px solid white;
}

.item4{
		height: 100vh;
	background-image: url(../images/background/ope-back.jpg);
	padding-left: 10vh;
	background-size: cover;
	padding-bottom: 10vh;	
}

.item2>.col-md-4>img{
	height: 20% ;
}

#Oprec{
	background-image: url(../images/background/c3.jpg);
	width: 100vw;
	background-size: cover;
}

#Oprec p{
	font-size: 15px;
}

#desc{
	width: 100vw;
	height: 100vh;
	padding-top: 6.5vh;
}

#history{
	width: 100vw;	
	height: 100vh;
	background-image: url(../images/background/c2.jpg);
	background-size: cover;
}

.monas{
	display: block;
	height: 40vh;
	margin-left: auto;
	margin-right: auto;	
}

.max{
	text-align: center;
	display: inline-block;
	width: 49%;
}

.logotemp{
	display: block;
	height: 30vh;
	margin-left: auto;
	margin-right: auto;
}

.smaller-text p{
	font-size: 16px;
}

.jumbotron{
	background: rgba(255,255,255,0.9);
}

.trans{
	background: rgba(255,255,255,0.7) !important;
	height: 100vh;	
}

.walloffame{
	color:black;
}

.flag{
	height: 1.5vh;	
}
.black{
		line-height: 5vh;	
}

.black>li>a{
		color: #505966;
}

.social{
	padding-left:5vw;
}

.social>li>a>i{
	font-size: 3vw;
	color: #505966;
}

.socialize>li>a>i{
	font-size: 3vw;
	color: #505966;
}

footer{
	padding-top: 5vh;
	background-color: #E0E0E0;
	color: #505966;
	padding-bottom: 5vh;
}

hr{
	  border-top: 1px solid #505966;
}

.menu{
	display: inline-block;
	width: 60vw	;
	vertical-align: middle;
}

